project:
  type: website
  output-dir: docs

website:
  title: "William Okech"
  navbar:
    left:
      - text: Home
        href: index.qmd
      - text: About
        href: index.qmd
      - text: Course Materials
        href: coursematerials.qmd
      - text: Workshops and Talks
        href: workshopstalks.qmd
        
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

